body {
  background-color: #1f88b5;
}

.text-petrol-blue {
  color: #628BA4;
}

.typed-text {
  color: #4E6151;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #000;
  opacity: 70%;
  margin-left: 2px;
  animation: blink 1s infinite;
}

nav {
  background-color: #5E8C61;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#logo {
  border-radius: 50px;
  width: 150px;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

li a {
  color: #E7FBF7;
  text-decoration: none;
}

li a:hover {
  color: #D3EEE1;
  text-decoration: none;
}

.presentation-text {
  background-color: #D3EEE1;
  border-radius: 100px;
  text-align: center;
}
