body {
    background-color: #88A0AA;
}

.typed-text {
    color: #4E6151;
    /* color: var(--button-background); */
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #000;
    opacity: 70%;
    margin-left: 2px;
    animation: blink 1s infinite;
}